{% block oro_type_choice_organization_type_widget %}
    {% spaceless %}
        <div class="horizontal">
            <div class="oro-clearfix">
                {{ form_widget(form.all) }}
                {{ form_label(form.all) }}
            </div>
        </div>
        <div class="controls-row organization-selective-selector">
            {{ form_widget(form.selective) }}
        </div>
        <script type="text/javascript">
            require(['jquery'], function($){
                $(function() {
                    var all_selector = 'input.all-selector:checkbox';
                    var selective_selectors = '.organization-selective-selector';

                    $(selective_selectors).hide();
                    if (!$(all_selector).prop('checked')) {
                        $(selective_selectors).show();
                    }
                    $(document).on('change', all_selector, function () {
                        if ($(this).prop('checked')) {
                            $(selective_selectors).hide();
                        } else {
                            $(selective_selectors).show();
                        }
                    });
                });
            });
        </script>
    {% endspaceless %}
{% endblock %}

{% block oro_organizations_select_widget %}
    {% if (form.vars.show_organizations_selector) %}
        {{ block('oro_organizations_select_organizations_widget') }}

        {{ form_widget(form.businessUnits) }}
    {% else %}
        {{ form_widget(form.businessUnits) }}
        {{ block('oro_organizations_select_organizations_widget') }}
    {% endif %}
{% endblock %}

{% block oro_organizations_select_organizations_widget %}
    {% spaceless %}
        {% set attr = attr|merge({'class': attr.class is defined ? attr.class ~ ' horizontal' : 'horizontal'}) %}
        {% set attr = attr|merge({'class': attr.class }) %}
            <div {{ block('widget_container_attributes') }}>
                {% set globalOrgId = oropro_global_org_id() %}
                {% set options = {
                view: 'oroproorganization/js/app/views/organization-tree-view',
                dataInputSelector: 'input[name="' ~ form.vars.full_name ~ '"]',
                tree: form.vars.organization_tree_ids,
                selectedBusinessUnits: form.vars.selected_business_units,
                selectedOrganizations: form.vars.selected_organizations,
                accordionEnabled: accordion_enabled
                } %}
                {% include 'OroOrganizationBundle:Js:organizationStructure.js.twig' %}
                <div class="accordion organization-structure{% if not accordion_enabled %} disabled{% endif %}"
                     data-page-component-module="oroui/js/app/components/view-component"
                     data-page-component-options="{{ options|json_encode }}">
                    {% for org in form.vars.organization_tree_ids %}
                        <div class="accordion-group">
                            <div class="accordion-heding">
                                <div class="oro-clearfix{{ not form.vars.show_organizations_selector ? ' hide' : '' }}">
                                    <label>
                                        <input type="checkbox"
                                               data-name="organization"
                                               value="{{ org.id }}"
                                                {% if org.id in form.vars.selected_organizations %} checked="checked" {% endif %}
                                               class="org org-id-{{ org.id }}"/>
                                        <b>{{ org.name }}</b>
                                        {% if not org.enabled %} ({{ 'oropro.organization.inactive'|trans }}) {% endif %}
                                        {% if globalOrgId and globalOrgId == org.id %}
                                            ({{ 'oropro.organization.is_global_organization'|trans }})
                                        {% endif %}
                                    </label>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <input type="hidden" name="{{ form.organizations.vars.full_name  }}"
                           value="{{ {organizations: form.vars.selected_organizations}|json_encode }}">
                </div>
            </div>
    {% endspaceless %}
{% endblock %}

{% block oropro_organization_label_widget %}
    {% spaceless %}
        {% for choice in choices %}
            {% if choice.value == value|default('NONE') %}
                <div class="control-label">{{ choice.label }}</div>
            {% endif %}
        {% endfor %}
        <script type="text/javascript">
            require(['jquery', 'oroui/js/mediator'], function($, mediator) {
                $(function() {
                    var select2_fields = $('form#{{ form.parent.vars.id }} :input.select2');
                    $.each(select2_fields, function(index, el) {
                        $(el).data('select2_query_additional_params', {'_sa_org_id': {{ value }}});
                    });

                    function checkFormLinks () {
                        var form_links = $('form#{{ form.parent.vars.id }} a, form#{{ form.parent.vars.id }} :button');
                        $.each(form_links, function(index, el) {
                            if ($(el).data('purpose') == 'open-form-widget'
                                || $(el).data('purpose') == 'open-dialog-widget'
                            ) {
                                $(el).data('route_additional_params', {'_sa_org_id': {{ value }}});
                            }
                        });
                    }

                    checkFormLinks();
                    mediator.once('page:afterChange', checkFormLinks);
                });
            });
        </script>
    {% endspaceless %}
{% endblock %}
