{% extends 'OroDashboardBundle:Dashboard:chartWidget.html.twig' %}

{% block content %}
    {% if hasData %}
        <div class="chart-container">
            <div class="clearfix">
                <div id="{{ widgetId }}-chart" class="bar-chart chart"></div>
            </div>
        </div>

        {% set json = {
            'chart': {
                'manageResize' : '1',
                'numberPrefix' : '$',
                'xAxisName': 'orocrm.sales.opportunity.status.label'|trans,
                'rotateXAxisName': '0',
                'formatNumberScale': '0',
                'decimals': '2',
                'animation': '1',
                'plotspacepercent': '0',
            },
            'data': items.data
        } %}

        <script type="text/javascript">
            require(
                ['jquery', 'orocrmprofusioncharts/lib/FusionCharts.jqueryplugin'],
                    function ($) {
                        $('#{{ widgetId }}-chart').insertFusionCharts({
                            type: 'Column3D',
                            renderer: 'JavaScript',
                            dataSource: '{{ json|json_encode|raw }}',
                            dataFormat: 'json',
                            id: '{{ widgetId }}'
                        });
                    }
            );
        </script>
    {% else %}
        <div class="clearfix no-data">
            <span>{{ 'oro.dashboard.no_data_found'|trans }}</span>
        </div>
    {% endif %}
{% endblock %}
