{% extends 'OroDashboardBundle:Dashboard:chartWidget.html.twig' %}

{% block content %}
    {% set data = {} %}
    {% set max = 0 %}
    {% set hasData = false %}
    {% for item in items.data %}
        {% if item[1] is defined and item[1] %}
            {% set hasData = true %}
        {% endif %}
        {% set value = item[1] %}
        {% set max = max(max, value) %}
        {% set label = items.labels[item[0]] %}
        {% set displayValue = value|oro_format_currency %}
        {% set data = data|merge([{label: label, value: value, displayValue: displayValue}]) %}
    {% endfor %}
    {% set max = (max * 1.1)|round(-3) %}

    {% if hasData %}
        <div class="chart-container">
            <div class="clearfix">
                <div id="{{ widgetId }}-chart" class="bar-chart chart"></div>
            </div>
        </div>

        {% set isMobileVersion = isMobileVersion() %}
        {% set symbolPosition = 'number' ~ (oro_currency_symbol_prepend() ? 'Prefix' : 'Suffix') %}
        {% set json = {
            'chart': {
                'showValues': isMobileVersion ? '0' : '1',
                'plotspacepercent': '50',
                'showCanvasBg': '0',
                'showCanvasBase': '0',
                'animation': '0',
                'valuePadding': '10',
                'xAxisName': 'orocrm.sales.opportunity.status.label'|trans,
                'rotateXAxisName': '0',
                (symbolPosition): oro_currency_symbol(),
                'formatNumberScale': '0',
                'decimals': '2',
                'forceDecimals': '1',
                'divLineColor': 'eaeaea',
                'paletteColors': '7fab90,fdbc7c,72a4e1,bedb99,5a897f,ceebf3,d6a970,fde090',
                'yAxisMaxValue': max
            },
            'data': data,
            'trendlines': [{
                'line': [
                    {
                        'startvalue': '0',
                        'color': '777777',
                        'alpha': '10'
                    },
                    {
                        'startvalue': max,
                        'color': '777777',
                        'alpha': '10'
                    }
                ]
            }]
        } %}

        <script type="text/javascript">
            require(
                ['jquery', 'orocrmprofusioncharts/lib/FusionCharts.jqueryplugin'],
                function ($) {
                    $('#{{ widgetId }}-chart').insertFusionCharts({
                        type: 'Column3D',
                        dataSource: {{ json|json_encode|raw }},
                        dataFormat: 'json',
                        width: '70%',
                        height: 400,
                        id: '{{ widgetId }}'
                    });
                }
            );
        </script>
    {% else %}
        <div class="clearfix no-data">
            <span>{{ 'oro.dashboard.no_data_found'|trans }}</span>
        </div>
    {% endif %}
{% endblock %}
