{% extends 'OroDashboardBundle:Dashboard:chartWidget.html.twig' %}

{% block content %}
    {% set data, hasData = {}, false %}
    {% for item in items.data %}
        {% if item.1 %}
            {% set hasData = true %}
        {% endif %}
        {% set data = data|merge([{label: items.labels[item.0], value: item.1}]) %}
    {% endfor %}

    {% if hasData %}
        <div class="chart-container">
            <div class="clearfix">
                <div id="{{ widgetId }}-chart" class="bar-chart chart"></div>
            </div>
        </div>

        {% set json = {
            'chart': {
                'manageResize' : '1',
                'plotspacepercent': '0',
                'showCanvasBg': '0',
                'showCanvasBase': '0',
                'animation': '0',

                'formatNumberScale': '0',
                'decimals': '2',
                'forceDecimals': '1',

                'numberPrefix' : '$',
                'xAxisName': 'orocrm.sales.opportunity.status.label'|trans,
                'rotateXAxisName': '0',
                'formatNumberScale': '0',
                'decimals': '2',
                'forceDecimals': '1',
            },
            'data': data
        } %}

        <script type="text/javascript">
            require(
                ['jquery', 'orocrmprofusioncharts/lib/FusionCharts.jqueryplugin'],
                function ($) {
                    $('#{{ widgetId }}-chart').insertFusionCharts({
                        type: 'Column3D',
                        dataSource: '{{ json|json_encode|raw }}',
                        dataFormat: 'json',
                        height: 300,
                        id: '{{ widgetId }}'
                    });
                }
            );
        </script>
    {% else %}
        <div class="clearfix no-data">
            <span>{{ 'oro.dashboard.no_data_found'|trans }}</span>
        </div>
    {% endif %}
{% endblock %}
