{% extends 'OroDashboardBundle:Dashboard:chartWidget.html.twig' %}

{#
    Variables:
        data - should be an array contains 'fraction' and 'label' values in each row
               also you can build chart data in nested template by overriding 'data' block
#}
{% block content %}
    {% set items, data, hasData = data, {}, false %}
    {% for item in items %}
        {% if item.itemCount %}
            {% set hasData = true %}
        {% endif %}
        {% set data = data|merge([{label: item.label, value: item.itemCount}]) %}
    {% endfor %}

    {% if hasData %}
        <div class="chart-container">
            <div class="clearfix">
                <div id="{{ widgetId }}-chart" class="pie-chart chart"></div>
            </div>
        </div>

        {% set isMobileVersion = isMobileVersion() %}
        {% set json = {
            'chart': {
                'showPercentValues': '1',
                'smartLabelClearance': '20',
                'animation': '0',
                'showLegend': '0',
                'legendIconScale': '2',
                'legendBgAlpha': '0',
                'legendBorderAlpha': '0',
                'pieslicedepth': '40',
                'paletteColors': '7fab90,bedb99,5a897f,ceebf3,d6a970,72a4e1,fde090,fdbc7c'
            },
            'data': data
        } %}

        <script type="text/javascript">
            require(
                ['jquery', 'orocrmprofusioncharts/lib/FusionCharts.jqueryplugin'],
                function ($) {
                    $('#{{ widgetId }}-chart').insertFusionCharts({
                        type: 'Pie3D',
                        renderer: 'JavaScript',
                        dataSource: {{ json|json_encode|raw }},
                        dataFormat: 'json',
                        height: 350,
                        id: '{{ widgetId }}'
                    });
                }
            );
        </script>

        <script type="text/javascript"></script>
    {% else %}
        <div class="clearfix no-data">
            <span>{{ 'oro.dashboard.no_data_found'|trans }}</span>
        </div>
    {% endif %}

{% endblock %}
