{% extends 'OroDashboardBundle:Dashboard:chartWidget.html.twig' %}

{% block content %}
    {% set data, hasData = {}, false %}
    {% for label, value in items %}
        {% if label in nozzleSteps %}
            {% set label = label ~ ' (' ~ 'from'|trans ~ ' ' ~ quarterDate|oro_format_date ~ ')' %}
        {% endif %}
        {% if value %}
            {% set hasData = true %}
        {% endif %}
        {% set data = data|merge([{label: label, value: value}]) %}
    {% endfor %}

    {% if hasData %}
        <div class="chart-container">
            <div class="clearfix">
                <div id="{{ widgetId }}-chart" class="bar-chart chart"></div>
            </div>
        </div>

        {% set json = {
            'chart': {
                'manageResize' : '1',
                'isHollow': '0',
                'labelDistance': '50',
                'useSameSlantAngle': '1',
                'streamlinedData': '0',
                'isSliced': '0',
                'funnelYScale': '20',
                'chartLeftMargin': '150',
                'enableSmartLabels': '1',
                'animation': '0',

                'formatNumberScale': '0',
                'decimals': '2',
                'forceDecimals': '1',

                'numberPrefix' : '$',
                'formatNumberScale': '0',
                'decimals': '2',
                'labelSepChar': ': ',

                'bgAlpha': '0',
                'showBorder': '0',
            },
            'data': data
        } %}

        <script type="text/javascript">
            require(
                    ['jquery', 'orocrmprofusioncharts/lib/FusionCharts.jqueryplugin'],
                    function ($) {
                        $('#{{ widgetId }}-chart').insertFusionCharts({
                            type: 'Funnel',
                            dataSource: '{{ json|json_encode|raw }}',
                            dataFormat: 'json',
                            width: '100%',
                            height: 300,
                            id: '{{ widgetId }}'
                        });
                    }
            );
        </script>
    {% else %}
        <div class="clearfix no-data">
            <span>{{ 'oro.dashboard.no_data_found'|trans }}</span>
        </div>
    {% endif %}

{% endblock %}
