{% extends 'OroDashboardBundle:Dashboard:chartWidget.html.twig' %}

{% block content %}
    {% set data, nozzleData, hasData = {}, {}, false %}
    {% for label, value in items %}
        {% if value %}
            {% set hasData = true %}
        {% endif %}
        {% if label in nozzleSteps %}
            {% set label = label ~ ' (' ~ 'from'|trans ~ ' ' ~ quarterDate|oro_format_date ~ '): ' ~ value|oro_format_currency %}
            {% set nozzleData = nozzleData|merge([{label: label, value: 0, showValue: 0}]) %}
        {% else %}
            {% set label = label ~ ': ' ~ value|oro_format_currency %}
            {% set data = data|merge([{label: label, value: value}]) %}
        {% endif %}

    {% endfor %}

    {% if hasData %}
        <div class="chart-container">
            <div class="clearfix">
                <div id="{{ widgetId }}-chart" class="bar-chart chart"></div>
                <div id="{{ widgetId }}-nozzle-chart" class="bar-chart chart"></div>
            </div>
        </div>

        {% set isMobileVersion = isMobileVersion() %}
        {% set json = {
            'chart': {
                'labelDistance': isMobileVersion ? '15' : '70',
                'showLabels': isMobileVersion ? '0' : '1',
                'showLegend': isMobileVersion ? '1' : '0',
                'chartLeftMargin': isMobileVersion ? '10' : '150',
                'isHollow': '0',
                'showValues': '0',
                'useSameSlantAngle': '0',
                'streamlinedData': '0',
                'isSliced': '1',
                'funnelYScale': '40',
                'enableSmartLabels': '1',
                'animation': '0',
                'bgAlpha': '0',
                'legendBorderAlpha': '0',
                'legendShadow': '0',
                'showBorder': '0',
                'paletteColors': 'bedb99,7fab90,fdbc7c,fde090,d6a970,72a4e1,ceebf3,5a897f'
            },
            'data': data|merge(nozzleData)
        } %}

        <script type="text/javascript">
            require(
                ['jquery', 'orocrmprofusioncharts/lib/FusionCharts.jqueryplugin'],
                function ($) {
                    $('#{{ widgetId }}-chart').insertFusionCharts({
                        type: 'Funnel',
                        dataSource: {{ json|json_encode|raw }},
                        dataFormat: 'json',
                        width: '100%',
                        height: 350,
                        id: '{{ widgetId }}'
                    });
                }
            );
        </script>
    {% else %}
        <div class="clearfix no-data">
            <span>{{ 'oro.dashboard.no_data_found'|trans }}</span>
        </div>
    {% endif %}

{% endblock %}
