{% extends 'OroDashboardBundle:Dashboard:chartWidget.html.twig' %}

{% block content %}
    {% set data, nozzleData, hasData = {}, {}, false %}
    {% set isMobileVersion = isMobileVersion() %}
    {% for label, value in items %}
        {% if value %}
            {% set hasData = true %}
        {% endif %}
        {% if label in nozzleSteps %}
            {% if isMobileVersion %}
                {% set label = label ~ ': ' ~ value|oro_format_currency ~ '{br}(' ~ 'from'|trans ~ ' ' ~ quarterDate|oro_format_date ~ ')' %}
            {% else %}
                {% set label = label ~ ' (' ~ 'from'|trans ~ ' ' ~ quarterDate|oro_format_date ~ '): ' ~ value|oro_format_currency %}
            {% endif %}
            {% set nozzleData = nozzleData|merge([{label: label, toolText: label, value: value, showValue: 0}]) %}
        {% else %}
            {% set label = label ~ ': ' ~ value|oro_format_currency %}
            {% set data = data|merge([{label: label, toolText: label, value: value}]) %}
        {% endif %}
    {% endfor %}

    {% if hasData %}
        <div class="chart-container">
            <div class="clearfix">
                <div id="{{ widgetId }}-chart" class="bar-chart chart"></div>
            </div>
        </div>

        {% set json = {
            'chart': {
                'showLabels': isMobileVersion ? '0' : '1',
                'showLegend': isMobileVersion ? '1' : '0',
                'isHollow': '0',
                'showValues': '0',
                'useSameSlantAngle': '1',
                'streamlinedData': '0',
                'isSliced': '1',
                'funnelYScale': '40',
                'enableSmartLabels': '1',
                'animation': '0',
                'bgAlpha': '0',
                'legendBorderAlpha': '0',
                'legendShadow': '0',
                'showBorder': '0',
                'paletteColors': '73a4e1,bedb99,ceeaf2,80d4cf,fdbc7c,e6c160,5a8980,b6c05d,d6a970,fee090,7fab90,ed935c'
            },
            'data': data|merge(nozzleData)
        } %}

        {% set height = isMobileVersion ? 300 + (data|length * 12) : 300 %}
        {% set width = isMobileVersion ? '100%' : 600 %}

        <script type="text/javascript">
            require(
                ['jquery', 'orocrmprofusioncharts/lib/FusionCharts.jqueryplugin'],
                function ($) {
                    $('#{{ widgetId }}-chart').insertFusionCharts({
                        type: 'Funnel',
                        dataSource: {{ json|json_encode|raw }},
                        dataFormat: 'json',
                        width: '{{ width }}',
                        height: '{{ height }}',
                        id: '{{ widgetId }}'
                    });
                }
            );
        </script>
    {% else %}
        <div class="clearfix no-data">
            <span>{{ 'oro.dashboard.no_data_found'|trans }}</span>
        </div>
    {% endif %}

{% endblock %}
