{% set containerId = "chart-container-" ~ random() %}
{% set hasData = data|length > 0 %}
{% set chartData = [] %}
{% set isMobileVersion = isMobileVersion() %}
{% set emptyData = true %}
{% if hasData %}
    {% for item in data %}
        {% if item.value is defined and item.value != 0  %}
            {% set emptyData = false %}
        {% endif %}
    {% endfor %}
{% endif %}

{% if hasData and emptyData == false %}
    {% set valueFormat = options.data_schema.value.type %}
    {% for item in data %}
        {% set itemValue = valueFormat == 'currency' ? item.value|oro_format_currency : item.value %}
        {% if item.isNozzle is defined and item.isNozzle %}
            {% if isMobileVersion %}
                {% set label = item.label ~ ': ' ~ itemValue ~ '{br}(' ~ 'from'|trans ~ ' '
                ~ options.settings.quarterDate|oro_format_date({timeZone: oro_timezone()}) ~ ')' %}
            {% else %}
                {% set label = item.label ~ ' (' ~ 'from'|trans ~ ' ' ~ options.settings.quarterDate|oro_format_date({timeZone: oro_timezone()})
                ~ '): ' ~ itemValue %}
            {% endif %}

            {% set chartItem = {label: label, toolText: label, value: item.value, showValue: 0} %}
        {% else %}
            {% set label = item.label ~ ': ' ~ itemValue %}
            {% set chartItem = {label: label, toolText: label, value: item.value} %}
        {% endif %}

        {% if item.link is defined %}
            {% set chartItem = chartItem|merge({link: item.link}) %}
        {% endif %}

        {% set chartData = chartData|merge([chartItem]) %}
    {% endfor %}

    <div class="chart-container">
        <div class="clearfix">
            <div class="flow-chart">
                <div id="{{ containerId }}-chart" class="chart"></div>
            </div>
        </div>
    </div>

    {% set json = {
            'chart': {
                'showLabels': isMobileVersion ? '0' : '1',
                'showLegend': isMobileVersion ? '1' : '0',
                'isHollow': '0',
                'showValues': '0',
                'useSameSlantAngle': '1',
                'streamlinedData': '0',
                'isSliced': '1',
                'funnelYScale': '40',
                'enableSmartLabels': '1',
                'animation': '0',
                'bgAlpha': '0',
                'legendBorderAlpha': '0',
                'legendShadow': '0',
                'showBorder': '0',
                'paletteColors': options.settings.chartColors
            },
        'data': chartData
    } %}

    {% set height = isMobileVersion ? 300 + (chartData|length * 12) : 300 %}

    <script type="text/javascript">
        require(
                ['jquery', 'oroui/js/mediator', 'orocrmprofusioncharts/lib/FusionCharts'],
                function ($, mediator) {
                    var dataSource = {{ json|json_encode|raw }};

                    var chart = new FusionCharts({
                        type: 'Funnel',
                        dataSource: dataSource,
                        dataFormat: 'json',
                        width: '75%',
                        height: {{ height }},
                        id: '{{ containerId }}',
                        renderAt: '{{ containerId }}-chart'
                    });

                    FusionCharts('{{ containerId }}').addEventListener ("linkClicked" ,  function(){
                        mediator.execute('showLoading');
                    });
                    chart.render();
                    mediator.once('page:beforeChange', function () {
                        chart.dispose();
                    });
                }
        );
    </script>
{% else %}
    <div class="container-fluid">
        <div class="clearfix no-data">
            <span>{{ 'oro.dashboard.no_data_found'|trans }}</span>
        </div>
    </div>
{% endif %}
