{% set containerId = "chart-container-" ~ random() %}
{#
    Variables:
        data - should be an array contains 'fraction' and 'label' values in each row
               also you can build chart data in nested template by overriding 'data' block
#}
{% block content %}
    {% set hasData = false %}
    {% for item in data %}
        {% if item.value %}
            {% set hasData = true %}
        {% endif %}
    {% endfor %}

    {% if hasData %}
        <div class="chart-container">
            <div class="clearfix">
                <div id="{{ containerId }}-chart" class="pie-chart chart"></div>
            </div>
        </div>

        {% set isMobileVersion = isMobileVersion() %}
        {% set json = {
            'chart': {
                'showPercentValues': '1',
                'manageLabelOverflow': isMobileVersion ? '1' : '0',
                'smartLabelClearance': '20',
                'animation': '0',
                'showLegend': isMobileVersion ? '1' : '0',
                'showLabels': isMobileVersion ? '0' : '1',
                'enableSmartLabels': isMobileVersion ? '0' : '1',
                'labelDistance': isMobileVersion ? '1' : '',
                'pieRadius': isMobileVersion ? '80' : '120',
                'legendNumColumns': '2',
                'legendIconScale': '1',
                'legendBgAlpha': '0',
                'use3DLighting': '0',
                'legendBorderAlpha': '0',
                'pieslicedepth': isMobileVersion ? '10' : '30',
                'paletteColors': options.settings.chartColors
            },
            'data': data
        } %}

        <script type="text/javascript">
            require(
                    ['jquery', 'oroui/js/mediator', 'orocrmprofusioncharts/lib/FusionCharts.jqueryplugin'],
                    function ($, mediator) {
                        $('#{{ containerId }}-chart').insertFusionCharts({
                            type: 'Pie3D',
                            renderer: 'JavaScript',
                            dataSource: {{ json|json_encode|raw }},
                            dataFormat: 'json',
                            width: '100%',
                            height: 300,
                            id: '{{ containerId }}'
                        });
                        mediator.once('page:beforeChange', function () {
                            $('#{{ containerId }}-chart').disposeFusionCharts();
                        });
                    }
            );
        </script>

        <script type="text/javascript"></script>
    {% else %}
        <div class="container-fluid">
            <div class="clearfix no-data">
                <span>{{ 'oro.dashboard.no_data_found'|trans }}</span>
            </div>
        </div>
    {% endif %}
{% endblock %}
