{% block oro_type_choice_organization_type_widget %}
    {% spaceless %}
        <div class="horizontal">
            <div class="oro-clearfix">
                {{ form_widget(form.all) }}
                {{ form_label(form.all) }}
            </div>
        </div>
        <div class="controls-row organization-selective-selector">
            {{ form_widget(form.selective) }}
        </div>
        <script type="text/javascript">
            require(['jquery'], function($){
                $(function() {
                    var all_selector = 'input.all-selector:checkbox';
                    var selective_selectors = '.organization-selective-selector';

                    $(selective_selectors).hide();
                    if (!$(all_selector).prop('checked')) {
                        $(selective_selectors).show();
                    }
                    $(document).on('change', all_selector, function () {
                        if ($(this).prop('checked')) {
                            $(selective_selectors).hide();
                        } else {
                            $(selective_selectors).show();
                        }
                    });
                });
            });
        </script>
    {% endspaceless %}
{% endblock %}

{% block oro_organizations_select_widget %}
    {% spaceless %}
        {% set attr = attr|merge({'class': attr.class is defined ? attr.class ~ ' horizontal' : 'horizontal'}) %}
        {% set attr = attr|merge({'class': attr.class ~ ' validate-group'}) %}
        <div {{ block('widget_container_attributes') }}>
            {% if form.vars.show_organizations_selector is defined %}
                {% set globalOrgId = oropro_global_org_id() %}
                {% for org in form.vars.organization_tree_ids %}
                    <div class="oro-clearfix{{ not form.vars.show_organizations_selector ? ' hide' : '' }}">
                        <input type="checkbox"
                               id="{{ form.vars.id }}_organizations_{{ org.id }}"
                               name="{{ form.vars.full_name }}[organizations][]" value="{{ org.id }}"
                                {% if org.id in form.vars.selected_organizations %} checked="checked" {% endif %}
                               class="org org-id-{{ org.id }}"
                        />
                        <label for="{{ form.vars.id }}_organizations_{{ org.id }}">
                            <b>{{ org.name }}</b>
                            {% if globalOrgId and globalOrgId == org.id %}
                                ({{ 'oropro.organization.is_global_organization'|trans }})
                            {% endif %}
                        </label>
                    </div>
                    {% if org.children %}
                        {{ _self.renderOrganizationChildren(form, org.id, org.children, form.vars.selected_business_units) }}
                    {% endif %}
                {% endfor %}
            {% else %}
                <input type="hidden" name="{{ form.vars.full_name }}[organizations][]" value="{{ form.default_organization.vars.value }}" />
                {{ _self.renderOrganizationChildren(
                    form,
                    form.vars.organization_tree_ids[0].organization,
                    form.vars.organization_tree_ids,
                    form.vars.selected_business_units,
                    0
                ) }}
            {% endif %}
        </div>
        {% if form.vars.show_organizations_selector is defined %}
            <script type="text/javascript">
                require(['jquery'],
                    function($) {
                        'use strict';
                        $(function() {
                            $(document).on('change', 'input.bu:checkbox', function (e) {
                                var org_id = $(this).data('organization');
                                $('input.org-id-' + org_id + ':checkbox').prop('checked', true);
                            });
                            $(document).on('change', 'input.org:checkbox', function (e) {
                                if($(this).prop('checked') == false) {
                                    $('input.bu:checkbox[data-organization="' + $(this).val() + '"]')
                                        .each(function(index, el){
                                            $(el).prop('checked', false);
                                        });
                                }
                            });
                        });
                    });
            </script>
        {% endif %}
    {% endspaceless %}
{% endblock %}

{% macro renderOrganizationChildren(form, org_id, children = {}, selected = {}, level = 1) %}
    {% for child in children %}
        <div class="oro-clearfix">
            <span style="float:left;">
            {% if level != 0 %}
                {% for i in 1..level %}
                    {% for si in 0..5 %}{{ '&nbsp;' }}{% endfor %}
                {% endfor %}
            {% endif %}
            </span>
            <input type="checkbox"
                   id="{{ form.vars.id }}_businessUnits_{{ child.id }}"
                   name="{{ form.vars.full_name }}[businessUnits][]"
                   value="{{ child.id }}"
                    {% if child.id in selected %} checked="checked" {% endif %}
                   class="bu"
                   data-organization="{{ org_id }}"
            />
            <label for="{{ form.vars.id }}_businessUnits_{{ child.id }}">{{ child.name }}</label>
        </div>
        {% if child.children is defined %}
            {% set sublevel = level + 1 %}
            {{ _self.renderOrganizationChildren(form, org_id, child.children, selected, sublevel) }}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% block oropro_organization_label_widget %}
    {% spaceless %}
        {% for choice in choices %}
            {% if choice.value == value|default('NONE') %}
                <div class="control-label">{{ choice.label }}</div>
            {% endif %}
        {% endfor %}
        <script type="text/javascript">
            require(['jquery', 'oroui/js/mediator'], function($, mediator) {
                $(function() {
                    var select2_fields = $('form#{{ form.parent.vars.id }} :input.select2');
                    $.each(select2_fields, function(index, el) {
                        $(el).data('select2_query_additional_params', {'_sa_org_id': {{ value }}});
                    });

                    function checkFormLinks () {
                        var form_links = $('form#{{ form.parent.vars.id }} a, form#{{ form.parent.vars.id }} :button');
                        $.each(form_links, function(index, el) {
                            if ($(el).data('purpose') == 'open-form-widget'
                                || $(el).data('purpose') == 'open-dialog-widget'
                            ) {
                                $(el).data('route_additional_params', {'_sa_org_id': {{ value }}});
                            }
                        });
                    }

                    checkFormLinks();
                    mediator.once('page:afterChange', checkFormLinks);
                });
            });
        </script>
    {% endspaceless %}
{% endblock %}
