{% block orocrmpro_ldap_transport_check_button_type_widget %}
    {% set entity = form.parent.vars.value %}
    {% set options = {
        el: '#' ~ form.vars.id,
        transportEntityId: entity.id|default(null),

    } %}
    <div class="control-group">
        <div class="controls">
            <button type="button" class="btn btn-big btn-primary" id="{{ form.vars.id }}">
                {{ label|trans }}
            </button>
            <script type="text/javascript">
                require(['orocrmproldap/js/ldap-checker'], function (LDAPChecker) {
                    "use strict";
                    new LDAPChecker({{ options|json_encode|raw }});
                });
            </script>
        </div>
    </div>
    <div class="control-group">
        <div class="controls messages">

        </div>
    </div>
{% endblock %}

{% block orocrmpro_ldap_transport_check_button_type_row %}
    {{ block('button_row') }}
{% endblock %}

{% block orocrmpro_ldap_user_mapping_row %}
    {{ block('button_row') }}
{% endblock %}

{% block _oro_integration_channel_form_mappingSettings_widget %}
    <div class="responsive-cell responsive-cell-no-blocks">
        <h5>{{ 'orocrmpro.ldap.integration.transport.mapping.userInformation.label'|trans }}</h5>
        {% for child in form  if child.vars.name != 'roleMapping' %}
            {{ form_row(child) }}
        {% endfor %}
    </div>
    <div class="responsive-cell responsive-cell-no-blocks ldap-role-mapping">
        <h5>{{ form.roleMapping.vars.label|trans({}, translation_domain) }}</h5>
        {{ form_widget(form.roleMapping) }}
    </div>
{% endblock %}
